@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    /*background: #f2f2f2;*/
    font-family: 'Open Sans', sans-serif;
}

.body-container {
    width: 70%;
    /*border: 5px solid;*/
    min-height: 800px;
    margin: 0 auto;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.movie-detail{
    width: 65%;
    float: right;
}
.photo-container{
    width: 30%;
    float: left;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: auto;
}


